.search {
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  &__examples {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    margin: 16px 0 16px 14px;

    color: var(--system-black);

    font-size: 22px;
    font-style: normal;
    font-weight: 550;
    line-height: 1.09091;
    letter-spacing: 0.17px;
  }

  &__example {
    border-radius: 8px;
    background: var(--plate-color);
    padding: 4px 6px 8px 6px;
    font-weight: 600;
    cursor: pointer;

    &-text {
      text-decoration: none;
      background: var(--system-gradient-violet);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      &:hover {
        color: var(--key-color-dark);
      }
    }
  }

  &__normal-text {
    padding-bottom: 4px;
  }
  &__normal-text_comma {
    margin-left: -5px;
  }
}
