.search {
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  z-index: 1;

  &__input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    width: 100%;

    input {
      position: absolute;
      width: 100%;
      max-width: 780px;
      height: 46px;

      font-size: 30px;
      border: 0;
      z-index: 4;

      &::placeholder {
        color: var(--system-smoky-deep-dark);
      }
      &:focus {
        outline: none;
      }
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 60px;

    z-index: 1;
  }

  &__input-buttonPlace {
    position: absolute;
    width: 100%;
    max-width: 896px;

    display: flex;
    justify-content: space-between;

    z-index: 2;
  }

  &__icon {
    height: 60px;
    width: 60px;
    cursor: pointer;
  }

  &__examples {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    margin: 16px 0 16px 14px;

    color: var(--system-black);

    font-size: 22px;
    font-style: normal;
    font-weight: 550;
    line-height: 1.09091;
    letter-spacing: 0.17px;
  }

  &__example {
    border-radius: 8px;
    background: var(--plate-color);
    padding: 4px 6px 8px 6px;
    font-weight: 600;
    cursor: pointer;

    &-text {
      text-decoration: none;
      background: var(--system-gradient-violet);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      &:hover {
        color: var(--key-color-dark);
      }
    }
  }

  &__normal-text {
    padding-bottom: 4px;
  }
  &__normal-text_comma {
    margin-left: -5px;
  }
}
